<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/FrontEnd/styles/PaginaInicial_estilo.css">
    <script defer src="/FrontEnd/js/PaginaInical_ScrptFront.js"></script>
    <title>Document</title>
</head>
<body>
    <header class="header">
        <nav class="nav">
            <a href="/assets/logoMinecraft.png"class="logo"></a>
            <ul class="nav-list">
                <li><a href="#"></a>op1</li>
                <li><a href="#"></a>Poções</li>              
                <li><a href="#"></a>Sobre</li>
            </ul>
        </nav>
    </header>
    <main class="hero"></main>
</body>
</html>